* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}

.loginFormContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 'cover';
  background-position: center;
  background: url("https://www.visittheusa.com/sites/default/files/styles/16_9_1280x720/public/2016-10/HERO%201_GettyImages-182773106_Cropped_Web72DPI.jpg?itok=O0Vd_KdQ") center center no-repeat;
  filter: grayscale(15%);
}

.loginForm {
  position: relative;
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  gap: 2em;
  background: #e6dfdf;
  padding: 20px;
  margin-top: 33vh;
}
